<%title @snippets[6].text %>
<div class = "row">
    <h1><%= best_in_place_if admin?, @snippets[6], :text %></h1>
    <div class="col-6 col-m-6">
        <p><%= best_in_place_if admin?, @snippets[7], :text, as: :textarea %></p> 
    </div>
    <div class="box col-6 col-m-6">
        <div class="boxcontent">
            <%= image_tag(src="beatrice.jpg", class:"nopadding clear") %>
        </div>
    </div>
    <% if admin?%>
        <div class="clear">Klicke in den Text um ihn zu ändern
        </div>
    <%end%>
</div>