<%title "Über mich"%>
<h1>Über mich</h1>


<section class="col-9 col-m-9">
    <br />
<p>Kreativität ist meine Leidenschaft. Besondere Aufmerksamkeit schenke ich Materialien, die als wertlos oder nicht mehr brauchbar gelten und schenke ihnen somit eine neue Bestimmung.</p> 
</section>
<div class="box col-3 col-m-3">
    <div class="boxcontent">
        <%= image_tag(src="beatrice.jpg") %>
    </div>
</div>