<%title "Atelier"%>
<h1>Atelier</h1>

<section class="col-6 col-m-6">
    <br />
<p>Das Atelier ist ein Ort, wo ich die Zeit vergessen kann. Wer Lust hat, auch mal so richtig einzutauchen,den Kopf zu lüften, alles andere zu vergessen und von den Materialien und Ideen Gebrauch zu machen, darf sich gerne bei mir melden.</p>
<p>Kostenpunkt: 2-3 Stunden inkl. Material: 100.- Franken</p> 
</section>
<div class="box col-6 col-m-6">
    <div class="boxcontent">
        <%= image_tag(src="atelier.jpg") %>
    </div>
</div>
