<%title @snippets[8].text %>
<div class = "row">
    <h1><%= best_in_place_if admin?, @snippets[8], :text %> </h1>
    <div class="row">
        <p><%= best_in_place_if admin?, @snippets[9], :text, as: :textarea %></p>
        <p><%= best_in_place_if admin?, @snippets[10], :text, as: :textarea %></p> 
    </div>
    <div class=" box row">
        <div class="boxcontent">
            <%= image_tag(src="atelier.jpg", class:"nopadding") %>
        </div>
    </div>
    <% if admin?%>
        <p class="clear">Klicke in den Text um ihn zu ändern</p>
    <%end%>
</div>
