<%title "Neu registrieren"%>

<h1>Benutzerangaben</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>

  <% if @user.errors.any? %>
	<ul class="Signup_Errors">
		<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
	  	<% end %>
	</ul>
  <% end %>
