<%title "Portfolio"%>
<div class= "row"><p id="notice"><%= notice %></p>

<% 10.times do %>
    <% @product_categories.each do |cat| %>
          <div class="box col-3 col-m-6">
            <div class="boxcontent"> 
                <%= link_to(image_tag(cat.image(:medium)), cat) %>
            </div>
          </div> 
    <% end %>
<%end%>
    
    </div>

