<%title "Portfolio"%>
<p id="notice"><%= notice %></p>


    <% @product_categories.each do |cat| %>
          <div class="box col-3 col-m-6">
            <div class="boxcontent"> <%= link_to(image_tag(src=cat.name.downcase), cat) %>
            </div>
          </div> 
    <% end %>

