<p id="notice"><%= notice %></p>

<div class = "center">
<h1> <%= @product_category.name %></h1>
<p> <%= @product_category.description %></p>
</div>

    <% @product_category.products.each do |product| %>
          <div class="box col-3 col-m-6">
            <div class="boxcontent"> <%= link_to(image_tag(src=product.image), product) %>
            </div>
          </div> 
    <% end %>
