/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/



html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 2em;
}

header {
font-weight: bold;
font-size: 1em;
}

#headerimage {
max-width: 100%;
}

.image_for_header {
max-width: 100%;
overflow: hidden;
}



nav {
    padding-top: 30px;
    padding-bottom: 30px;

}

nav ul li {
    text-align: center;
    
}

nav ul li a {
    padding-bottom: 20px;
}

.content {
    position:relative;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2em;

}


 /*Seitl Abstand um den Inhalt*/
@media only screen and (min-width: 600px){
/* For tablets and desktops: */
.middle {
    width:60%;
    height:100%;
    margin:auto;
}

 /* For mobile phones: */
.middle-mobile {
    width: 100%;
}

.center {
    text-align: center;
    }
    
section {
    float: left;
        
    }
section img {
    width: 50%;
    float:right;
    }
    
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
}