
<p id="notice"><%= notice %></p>


  <div class="middle">
    <% @products.each do |product| %>
      <div class="box col-3 col-m-6 ">
        <div class="content"> <%= image_tag(src=product.image) %>
        </div>
      </div> 
    <% end %>
  </div>


