<header class="row">
    <h1 class="center">
        <a href="/">
            Beatrice Gugger
        </a>
    </h1>


    <nav>
        <ul>
            <li> <a href="/blogposts" class="col-3 col-m-6">Blog</a> </li>
            <li> <a href="/products" class="col-3 col-m-6">Produkte</a> </li>
            <li> <%= link_to "Kontakt", contact_path, class: "col-3 col-m-6" %></li>
            <li> <a href="about" class="col-3 col-m-6">Über mich</a> </li>
        </ul>
    </nav>
    
</header>