<header class="row">
    <h1>
        <a href="/">
            Beatrice Gugger
        </a>
    </h1>
</header>

<nav>
    <div id="navwrapper" class="middle">
    <ul>
        <li class="col-3">Menupunkt 1</li>
        <li class="col-3">Menupunkt 2</li>
        <li class="col-3">Menupunkt 3</li>
        <li class="col-3">Menupunkt 4</li>
    </ul>
    </div>
</nav>