<header class="row">
    <h1 class="center">
        <a href="/">
            Beatrice Gugger
        </a>
    </h1>


    <nav>
        <ul>
            <li> <a href="/blogposts" class="col-3 col-m-6">Blog</a> </li>
            <li> <%= link_to "Kontakt", contact_path, class: "col-3 col-m-6" %></li>
            <li> <a href="/about" class="col-3 col-m-6">Über mich</a> </li>
            <% if !logged_in? %>
            <li> <%=link_to "Login", login_path, class: "col-3 col-m-6"%></li>
            <% else %>
            <li><%= link_to "Logout", logout_path, method: "delete", class: "col-3 col-m-6" %> </li>
            <%end%>
        </ul>
    </nav>
    
</header>